body{
	background-color: #151515;
	font-family: 'Merriweather', serif;
	margin: 0px;
	color: #009eff;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.mover{
	height: 90px;
}

/* Header og Menu*/ 
header{
	position: fixed;
	background-color: #151515;
	border-top: 5px solid #009EFF;
	border-bottom: 2px solid #009EFF;
	height: 9.4em;
	width: 100%
}

.logo{
	padding: .4em 0 0 0;
	margin: 1.1em 0;
}

nav{
	height: 9.4em;
}

.nav{
	text-align: right;
	height: 70px;
	line-height: 70px;
}

.menu{
	margin: 0 0 0 0;
}

.menu a{
	clear: right;
	text-decoration: none;
	color: #009EFF;
	margin: 0 0 0 0px;
	line-height: 70px;
	padding: 10px 10px 15px 10px;
}

.menu a:hover{
	background-color: #92C6D5; 
}

label{
	margin: 0 10px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
	width: 110px;
	float: right;
}

#toggle{
	display: none;
}

/*nav ul{
	height: 3em;
	padding: 1.3em 0 0 0;
	margin: 4.1em 0;
}*/

/*li{
	line-height: 2.3em;
}*/

/*nav ul li{
	display: inline-block;
	padding: 0.9em;
	color: #009EFF;
}*/

/*nav ul li:hover{
	background-color: #92C6D5;
}

nav ul li:visited{
	color: #009EFF;
}

nav ul li a{
	text-decoration: none;
	color: #009EFF;
	padding: 2em;
}*/

/* Main section */ 

.container{
	max-width: 1280px;
	margin: 0px auto;
}

section{
	width: 100%;
}


.introbillede{
	margin-top: 150px;
	width: 100%;
	border-bottom: 2px solid #92C6D5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
	width: 90%;
	padding: 20px 0 20px;
	margin: 0;
}

.produkt-text{
	width: 49%;
	float: left;
	padding: 20px 10px 20px 0;
	margin: 0;
}

.produkt{
	width: 100%;
}

.info-box{
	width: 49%;
}

.info-box-produkt{
	width: 100%;
	margin: 0 auto;
}

.billedebox{
	width: 100%;
	padding: 20px 0 20px;
}

.produkt-billede{
	width: 50%;
	padding: 20px 0 20px;
	float: left;
}

.produkt-billede img{
	width: 100%;
}

.img-container{
	width: 60%;
	margin: 0 auto;
}

.profil{
	width: 25%;
	padding: 0 20px;
	margin-bottom: 10px;
}

.profil-billede{
	width: 100%;
}


/*Footer*/
footer{
	width: 100%;
	background-color: #151515;
	border-top: 2px solid #009EFF;
	border-bottom: 5px solid #009EFF;
}

.information{
	width: 75%;
}

.socialmedia{
	width: 25%;
	font-size: 30px;
	color: #009eff;
	padding-top: 5px;
	text-align: right;
}

footer ul{
	list-style: none;
	padding: 0;
	color: #009eff;
}

footer ul li{
	display: inline-block;
	padding-right: 15px;
}

.bliz-logo{
	width: 40px;
}

footer a{
	text-decoration: none;
	color: #009eff;
}

footer a:visited{
	color: #009eff;
}

@media only screen and (max-width: 550px) {
	label{
		display: block;
		cursor: pointer;
	}
	
	.menu{
		text-align: center;
		width: 50%;
		display: none;
		float: right;
		background-color: #151515; 
		margin: -8px -35px 0 0;
	}
	
	.menu a{
		display: block;
		margin: 0;
	}
	
	#toggle:checked + .menu{
		display: block;
	}
}


















