body{
	background-color: #151515;
	font-family: 'Merriweather', serif;
	margin: 0px;
	color: #009eff;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

/* Header og Menu*/ 
header{
	position: fixed;
	background-color: #151515;
	border-top: 5px solid #009EFF;
	border-bottom: 2px solid #009EFF;
	height: 150px;
	width: 100%
}

.logo{
	padding: 8px 10px 0 0;
	margin: 10px 0;
}

nav ul{
	height: 15px;
	padding: 20px 5px 0 0;
	margin: 65px 0;
}

li{
	line-height: 15px;
}

nav ul li{
	display: inline-block;
	padding: 15px;
	color: #009EFF;
}

nav ul li:hover{
	background-color: #92C6D5;
}

nav ul li:visited{
	color: #009EFF;
}

nav ul li a{
	text-decoration: none;
	color: #009EFF;
	padding: 15px;
}

/* Main section */ 

.container{
	max-width: 1280px;
	margin: 0px auto;
}

section{
	width: 100%;
}


.introbillede{
	margin-top: 150px;
	width: 100%;
	border-bottom: 2px solid #92C6D5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text{
	width: 90%;
	padding: 20px 0 20px;
	margin: 0;
}

.produkt-text{
	width: 49%;
	float: left;
	padding: 20px 10px 20px 0;
	margin: 0;
}

.produkt{
	width: 100%;
}

.info-box{
	width: 49%;
}

.info-box-produkt{
	width: 100%;
	margin: 0 auto;
}

.billedebox{
	width: 100%;
	padding: 20px 0 20px;
}

.produkt-billede{
	width: 50%;
	padding: 20px 0 20px;
	float: left;
}

.produkt-billede img{
	width: 100%;
}

.img-container{
	width: 60%;
	margin: 0 auto;
}

.profil{
	width: 25%;
	padding: 0 20px;
	margin-bottom: 10px;
}

.profil-billede{
	width: 100%;
}


/*Footer*/
footer{
	width: 100%;
	background-color: #151515;
	border-top: 2px solid #009EFF;
	border-bottom: 5px solid #009EFF;
}

.information{
	width: 75%;
}

.socialmedia{
	width: 25%;
	font-size: 30px;
	color: #009eff;
	padding-top: 5px;
	text-align: right;
}

footer ul{
	list-style: none;
	padding: 0;
	color: #009eff;
}

footer ul li{
	display: inline-block;
	padding-right: 15px;
}

.bliz-logo{
	width: 40px;
}

footer a{
	text-decoration: none;
	color: #009eff;
}

footer a:visited{
	color: #009eff;
}

